:root {
    --main-color: #333;
    --decore-color: #cfff24;
    --background-color: #f4f4f4;
    --font-size: 16px;
    --max-width: 1400px;
    --padding: 10px;
    --border: 1px solid var(--main-color);
    --header-height: 100px;
    --footer-height: 200px;

    @media (min-width: 678px) {
        --padding: 10px 30px;
        --header-height: 70px;
        --footer-height: 120px;
    }

    @media (min-width: 1400px) {
        --padding: 10px 40px;
        --header-height: 70px;
        --footer-height: 120px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: var(--font-size);
}


main {
    max-width: var(--max-width);
    padding: var(--padding);
    border: var(--border);
    background: var(--background-color);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.circle {
    border-radius: 50%;
    border: 1px solid var(--background-color)
}

section {
    width: 80vmin;
    height: 80vmin;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap :10px;
    justify-content: center;
    align-items: center;

    .counter {
        width: 200px;
        height: 50px;
        background: var(--background-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        order: 1;
    }
    .display {
        width :300px;
        min-height: 300px;
        background: #000;
        padding :10px;
        font-size: 20px;
        font-weight: bolder;
        order : 2;
    }
    .button{
        padding : 10px;
        cursor: pointer;
        order: 3;
    }
}